{% extends "network/layout.html" %}

{% block body %}

    <p class="alert-info p-3 text-center">
       You can just press "Login" to try the app.<br>
        (Username: <strong>Demo_User</strong> - Pw: <strong>user</strong>)
    </p>

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username" value="Demo_User">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" value="user">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}